<form #registerForm="ngForm" (ngSubmit)="register()">
    <ion-input [(ngModel)]="model.name" name="name" placeholder="نام" type="text"></ion-input>
    <ion-input
        [(ngModel)]="model.cell"
        name="cell"
        placeholder="شماره همراه"
        type="text"
        pattern="(09|۰۹)([0-9]|[۰-۹]){9}$"></ion-input>
    <ion-input
        [(ngModel)]="model.password"
        name="password"
        placeholder="کلمه عبور"
        type="text"
        pattern="^.{4,}$"></ion-input>
    <ion-radio-group
        aria-label="Select Gender"
        class="ion-display-flex ion-justify-content-between ion-margin-top"
        [(ngModel)]="model.gender"
        name="gender">
        <ion-radio [value]="true">آقا</ion-radio>
        <ion-radio [value]="false">خانم</ion-radio>
        <ion-radio [value]="null">حقوقی</ion-radio>
    </ion-radio-group>
    <div class="commands ion-display-flex ion-justify-content-around">
        <ion-button [disabled]="!registerForm.valid || loading"> ثبت نام </ion-button>
        @if(loading) {
        <ion-spinner name="circular" class="ion-margin-x-auto"></ion-spinner>
        }
        <ion-button fill="clear" routerLink="/auth/login">ورود</ion-button>
    </div>
</form>
