.update-content {
    position: relative;
    height: calc(100% - 32px);
    background-image: url('../../../assets/gallery-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (prefers-color-scheme: dark) {
    .update-content {
        background-image: url('../../../assets/gallery-bg-dark.jpg');
    }
}
