<ion-content class="ion-padding">
    <table class="palette">
        <thead>
            <tr>
                <th>شماره</th>
                @if(bulk){
                <th>کد رنگ</th>
                }
                <th>جنس</th>
                <th>وزن (گرم)</th>
            </tr>
        </thead>
        <tbody>
            @for (color of colors(); track $index) {
            <tr>
                <td>{{ $index + 1 }}</td>
                @if(bulk){
                <td [ngStyle]="{ backgroundColor: color.Color }">
                    {{ color.Position }}
                </td>
                }
                <td>{{ color.Material }}</td>
                <td>{{ color.Weight | number }}</td>
            </tr>
            }
        </tbody>
    </table>
    <ion-button class="close-modal" shape="round" (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
</ion-content>
