<ion-menu contentId="main-content" side="end">
    <ion-content class="ion-padding">
        <div class="menu-content">
            <ion-list>
                <ion-item routerLink="/catalog" (click)="closeMenu()">
                    <ion-label>کاتالوگ محصولات</ion-label>
                </ion-item>

                <ion-item routerLink="/joola" (click)="closeMenu()">
                    <ion-label>نقشه خوان صوتی</ion-label>
                </ion-item>

                <ion-item routerLink="#" (click)="closeMenu()">
                    <ion-label>پیام رسان دارکوب - بزودی …</ion-label>
                </ion-item>

                <ion-item routerLink="#" (click)="closeMenu()">
                    <ion-label>دارمکو پلاس - بزودی …</ion-label>
                </ion-item>
                <ion-item routerLink="/contact" (click)="closeMenu()">
                    <ion-label>تماس با ما</ion-label>
                </ion-item>
            </ion-list>
            <div class="bottom-access">
                <pre>version 2.0.7</pre>
                @if(isApp) {
                <ion-button shape="round" color="danger" (click)="exit()">
                    Exit
                    <ion-icon name="close-circle-outline"></ion-icon>
                </ion-button>
                }
            </div>
        </div>
    </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
    <ion-header [translucent]="true">
        <ion-toolbar>
            <div class="ion-display-flex ion-justify-content-between ion-padding-horizontal">
                <img height="24" src="../../assets/logo.png" />
                <h4 class="ion-no-margin">دارکوب امروز</h4>
                <ion-buttons>
                    <ion-menu-button></ion-menu-button>
                </ion-buttons>
            </div>
        </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true">
        <ion-header collapse="condense">
            <ion-toolbar>
                <ion-title size="large">دارکوب امروز</ion-title>
            </ion-toolbar>
        </ion-header>

        <div id="container">
            <router-outlet></router-outlet>
        </div>
    </ion-content>
</div>
