<div
    class="ion-display-flex ion-flex-column ion-align-items-start ion-padding update-content"
    dir="ltr">
    <div class="ion-display-flex ion-margin-x-auto">
        <ion-spinner name="circular"></ion-spinner>
    </div>
    <h5 class="ion-margin-x-auto">در حال آماده سازی اطلاعات و تصاویر محصولات</h5>
    <p>Server Status: {{ app.serverStatus() }}</p>
    <p>Total Products: {{ app.productsCount() }}</p>
    <br />
    @for (message of messages; track $index) {
    <p>{{ message }}</p>
    }
    <p>در صورت اتصال به اینترنت، محصولات جدید دریافت خواهند شد.</p>
</div>
