<div
    class="ion-display-flex ion-flex-column ion-align-items-start ion-padding update-content"
    dir="ltr">
    <video autoplay muted loop id="logo-rotate">
        <source src="../../../assets/bg.mp4" type="video/mp4" />
    </video>
    <div class="ion-display-flex ion-margin-auto">
        <ion-spinner name="circular"></ion-spinner>
    </div>
    <p>Server Status: {{ app.serverStatus() }}</p>
    <p>Total Products: {{ app.productsCount() }}</p>
    <p>Processed Images: {{ app.processedImages() }}</p>
    <ion-progress-bar [value]="progress().percent"></ion-progress-bar>
    <br />
    @for (message of messages; track $index) {
    <p>{{ message }}</p>
    }
</div>
