:host {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    align-items: anchor-center;
}

.no-overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 145px;
    display: block;
    overflow: hidden;
}
