<div class="app-bg">
    <div class="ion-display-flex ion-flex-column ion-gap-full ion-padding">
        <h4 class="title">📞راه های ارتباطی و تماس با ما✉️</h4>
        <a href="https://daremco.com" target="_blank">
            <span class="emoji">🌐</span>
            آدرس وبسایت رسمی شرکت فرش دارکوب امروز
        </a>
        <a href="https://www.instagram.com/daremco_official" target="_blank">
            <img class="icon" src="../../../../assets/Instagram.png" />
            صفحه رسمی شرکت دارکوب امروز در اینستاگرام
        </a>
        <a href="https://www.instagram.com/daremco_onlineshop" target="_blank">
            <img class="icon" src="../../../../assets/Instagram.png" />
            صفحه آنلاین شاپ شرکت در اینستاگرام
        </a>
        <a href="https://rubika.ir/daremco_album" target="_blank">
            <img class="icon" src="../../../../assets/Rubika.png" />
            صفحه آلبوم محصولات شرکت در روبیکا
        </a>
        <a href="https://rubika.ir/daremco_onlineshop" target="_blank">
            <img class="icon" src="../../../../assets/Rubika.png" />
            صفحه آنلاین شاپ شرکت در روبیکا
        </a>
        <a href="https://rubika.ir/joing/BAAEFAFEE0YMQRJULREWHHAJZLTWFAQX" target="_blank">
            <img class="icon" src="../../../../assets/Rubika.png" />
            گروه مشتریان وفادار در روبیکا
        </a>
        <a href="https://daremco.com/agents" target="_blank">
            <span class="emoji">📍</span>
            لیست نمایندگان به تفکیک استان و شهر
        </a>
        <a href="https://eitaa.com/daremco_eitaa" target="_blank">
            <span class="emoji">👩‍💻</span>
            آیدی مدیر داخلی کارخانه جهت ثبت خرید در ایتا
        </a>
        <a href="https://rubika.ir/daremco" target="_blank">
            <span class="emoji">👩‍💻</span>
            آیدی مدیر داخلی کارخانه جهت ثبت خرید در روبیکا
        </a>
        <a href="https://rubika.ir/daremco_onlineshop" target="_blank">
            <span class="emoji">💬</span>
            مشاوره و پاسخ به سوالات فنی بافت در روبیکا
        </a>
        <a href="https://t.me/daremco_onlineshop" target="_blank">
            <span class="emoji">💬</span>
            مشاوره و پاسخ به سوالات فنی بافت در تلگرام
        </a>
        <h5>📞 شماره تماس کارخانه (تماس در ساعات اداری)</h5>
        <h3 class="title">📱 09037777688</h3>
        <h3 class="title">☎️ 05132453469</h3>
    </div>
</div>
