a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.title {
    text-align: center;
}

.icon {
    height: 16px;
    width: 16px;
}

.emoji {
    font-size: 1rem;
}
