.gallery-bg {
    min-height: 100%;
    background-image: url('../../../assets/gallery-bg.jpg');
    background-repeat: repeat;
}

.attributes {
    max-height: 10.5rem;
    overflow: auto;
}

ion-fab {
    position: fixed;

    ion-fab-list {
        bottom: 60px;
    }
}

@media (prefers-color-scheme: dark) {
    .gallery-bg {
        background-image: url('../../../assets/gallery-bg-dark.jpg');
    }
}
