<div class="gallery-bg">
    <ion-list>
        <ion-item>
            <ion-select
                label="انتخاب دسته"
                interface="popover"
                [(ngModel)]="categoryId"
                (ionChange)="selectCategory($event)">
                @for (category of categories.value(); track category.Id) {
                <ion-select-option [value]="category.Id">
                    {{ category.Name }}
                </ion-select-option>
                }
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-select
                label="انتخاب گالری"
                interface="popover"
                [(ngModel)]="galleryId"
                (ionChange)="selectGalley($event)">
                @for (gallery of galleries(); track gallery.Id) {
                <ion-select-option [value]="gallery.Id">
                    {{ gallery.Name }}
                </ion-select-option>
                }
            </ion-select>
        </ion-item>
    </ion-list>
    <div class="products">
        @for (product of products(); track product.Id) {
        <app-product [product]="product"></app-product>
        }
    </div>
</div>
<ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="searchPanelOpen = true">
        <ion-icon name="search-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>

<ion-modal
    [isOpen]="searchPanelOpen"
    [initialBreakpoint]="0.25"
    [breakpoints]="[0, 0.25]"
    (didDismiss)="searchPanelOpen = false">
    <ng-template>
        <ion-content class="ion-padding">
            <ion-input
                [(ngModel)]="code"
                name="code"
                placeholder="کد محصول"
                type="number"
                (keyup.enter)="search()"></ion-input>
            <ion-input
                [(ngModel)]="name"
                name="name"
                placeholder="نام محصول"
                (keyup.enter)="search()"></ion-input>
            <ion-button expand="block" class="ion-margin-top" (click)="search()">
                جستجو
            </ion-button>
        </ion-content>
    </ng-template>
</ion-modal>
