@if (app.isInitializing()) {
<app-update></app-update>
} @else {
<app-gallery></app-gallery>
}

<ion-fab vertical="bottom" horizontal="start">
    <ion-button size="small" color="warning" id="help-modal">
        راهنما
        <ion-icon slot="end" name="help-circle-outline"></ion-icon>
    </ion-button>
</ion-fab>

<ion-modal
    trigger="help-modal"
    [initialBreakpoint]="1"
    [breakpoints]="[0, 1]"
    [canDismiss]="canDismiss">
    <ng-template>
        <ion-content class="ion-padding">
            <app-help></app-help>
        </ion-content>
    </ng-template>
</ion-modal>
