@if (p) {
<div class="product">
    <img [src]="p.images['300']" (click)="showPicture()" />
    <p class="name">{{ p.name }} ({{ p.id }})</p>
    <div class="ion-display-flex ion-align-items-center ion-flex-gap-full">
        <p>{{ p.tiesWidth }} گره در {{ p.tiesHeight }} رج</p>
        <span>|</span>
        <p>{{ p.moghat }} مقاط</p>
        <span>|</span>
        <p>{{ p.colorsCount }} رنگ</p>
    </div>
    @if(p.productTypes?.length) {
    <div class="full-width properties ion-margin-bottom">
        <p class="title">انواع نخ خامه</p>
        @for (type of p.productTypes; track $index) { @let tieLength =
        primaryData.tieLengths[type.mainTieLengthId];
        <div class="data-row ion-display-flex ion-flex-column">
            <div class="ion-display-flex">
                <p class="label">رجشمار</p>
                <p class="property">{{ type.raj }}</p>
            </div>
            <div class="ion-display-flex">
                <p class="label">ابعاد</p>
                <p class="property">{{ type.dimsWidth }} در {{ type.dimsHeight }} سانت</p>
            </div>
            <div class="ion-display-flex">
                <p class="label">جنس</p>
                <p class="property">
                    @if(type.materialId) {
                    {{ primaryData.materials[type.materialId].name }}
                    } @else { پشم و ابریشم }
                </p>
            </div>
            <div class="ion-display-flex">
                <p class="label">نوع بافت</p>
                <p class="property">{{ primaryData.tieTypes[type.tieTypeId] }}</p>
            </div>
            <div class="ion-display-flex">
                <p class="label">طول گره</p>
                <p class="property">{{ tieLength.length }} سانت ( {{ tieLength.title }} )</p>
            </div>
            <div class="ion-display-flex">
                <p class="label">موجودی</p>
                <p class="property">
                    @if (type.stock > 0) {
                    {{ type.stock }}
                    } @else {
                    <ion-button
                        fill="clear"
                        size="small"
                        (click)="showStockMessage(undefined, type.productionGroupId)">
                        مشاهده
                    </ion-button>
                    }
                </p>
            </div>
            <div class="ion-display-flex">
                <p class="label">قیمت</p>
                <p class="property">{{ type.price / 10 | number }} تومان</p>
            </div>
            <div class="ion-display-flex">
                <ion-button fill="clear" size="small" (click)="showColorsPalette(type)">
                    نمایش پالت
                </ion-button>
                @if(!type.materialId) {
                <ion-button fill="clear" size="small" (click)="showMaterialsChart(type)">
                    نمودار توزیع جنس
                </ion-button>
                }
            </div>
        </div>
        }
    </div>
    } @if(p.bulkTypes?.length) {
    <div class="full-width properties ion-margin-bottom">
        <div class="ion-display-flex ion-justify-content-between ion-align-items-center">
            <p class="title">انواع نخ خامه</p>
            <ion-button
                fill="clear"
                size="small"
                (click)="showStockMessage(p.paletteId ?? 0, undefined)">
                زمان تحویل
            </ion-button>
            <ion-select
                class="raj-select"
                interface="popover"
                [value]="0"
                (ionChange)="selectRaj($event)">
                <ion-select-option [value]="0">انتخاب رجشمار</ion-select-option>
                @for (raj of rajs; track $index) {
                <ion-select-option [value]="raj">رجشمار {{ raj }}</ion-select-option>
                }
            </ion-select>
        </div>
        @if(!bulkTypeGroups.length) {
        <p class="pointer">لطفا رجشمار مورد نظر خود را انتخاب کنید 👆</p>
        } @for (type of bulkTypeGroups; track $index) { @let tieLength =
        primaryData.tieLengths[type.mainTieLengthId];
        <div class="data-row">
            <div class="ion-display-flex">
                <p class="label">رجشمار</p>
                <p class="property">{{ type.raj }}</p>
            </div>
            <div class="ion-display-flex">
                <p class="label">ابعاد</p>
                <p class="property">{{ type.dimsWidth }} در {{ type.dimsHeight }}</p>
            </div>
            <div class="ion-display-flex">
                <p class="label">جنس</p>
                <p class="property">
                    {{
                        type.materialId
                            ? primaryData.materials[type.materialId].name
                            : 'پشم و ابریشم'
                    }}
                </p>
            </div>
            <div class="ion-display-flex">
                <p class="label">طول گره</p>
                <p class="property">{{ tieLength.length }} سانت ( {{ tieLength.title }} )</p>
            </div>
            @for(item of type.list; track $index) {
            <div class="ion-display-flex">
                <p class="label">{{ item.count }} تخته</p>
                <p class="property">{{ item.price / 10 | number }} تومان</p>
            </div>
            }
            <div class="ion-display-flex">
                <ion-button fill="clear" size="small" (click)="showColorsPalette(type)">
                    نمایش پالت
                </ion-button>
                @if(!type.materialId) {
                <ion-button fill="clear" size="small" (click)="showMaterialsChart(type)">
                    نمودار توزیع جنس
                </ion-button>
                }
            </div>
        </div>
        }
    </div>
    } @if(p.plans?.length) {
    <div class="full-width properties">
        <p class="title">انواع نقشه برای این محصول</p>
        <div class="data-row">
            @for (plan of p.plans; track $index) {
            <div class="ion-display-flex">
                <p class="label">
                    {{ primaryData.planTypes[plan.planTypeId] }}
                </p>
                <p class="property">
                    {{ plan.price ? (plan.price / 10 | number) : 'رایگان' }}
                </p>
                <p class="ion-margin-start">
                    {{ plan.name }}
                </p>
            </div>
            }
        </div>
    </div>
    }
    <div class="string">
        <div class="darkoob"></div>
    </div>

    @if(mainImage) {
    <div class="main-image" (click)="mainImage = ''">
        <img [src]="mainImage" />
    </div>
    }

    <app-loading [loading]="loading"></app-loading>
</div>
}
