.product-list-item {
    display: flex;
    align-items: center;

    img {
        display: block;
        height: 90px;
        width: 90px;
        border-radius: 0 4px 4px 0;
    }
}

.back-button {
    margin-top: auto;
    margin-bottom: env(safe-area-inset-bottom, 0px);
}
