<ion-header [translucent]="true">
    <ion-toolbar>
        <div
            class="ion-display-flex ion-align-items-center ion-justify-content-between ion-padding-horizontal">
            <h4>دارکوب امروز</h4>
            <img src="../../assets/logo.png" />
        </div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">دارکوب امروز</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        @if (app.isUpdating()) {
        <app-update></app-update>
        } @else {
        <app-gallery [allProducts]="products.value()!"></app-gallery>
        }
    </div>
</ion-content>
